# Just the soft buttons for now
# The unassigned ones are the corresponding "onRelease" event for preceeding event

# Greg's PFD UUID. Find yours using the Setup app
[88:6b:0f:a5:5f:3d]

9C = "(>H:AS1000_PFD_SOFTKEYS_1)"
9D = unassigned
9E = "(>H:AS1000_PFD_SOFTKEYS_2)"
9F = unassigned
A0 = "(>H:AS1000_PFD_SOFTKEYS_3)"
A1 = unassigned
A2 = "(>H:AS1000_PFD_SOFTKEYS_4)"
A3 = unassigned
A4 = "(>H:AS1000_PFD_SOFTKEYS_5)"
A5 = unassigned
A6 = "(>H:AS1000_PFD_SOFTKEYS_6)"
A7 = unassigned
A8 = "(>H:AS1000_PFD_SOFTKEYS_7)"
A9 = unassigned
AA = "(>H:AS1000_PFD_SOFTKEYS_8)"
AB = unassigned
AC = "(>H:AS1000_PFD_SOFTKEYS_9)"
AD = unassigned
AE = "(>H:AS1000_PFD_SOFTKEYS_10)"
AF = unassigned
B0 = "(>H:AS1000_PFD_SOFTKEYS_11)"
B1 = unassigned
B2 = "(>H:AS1000_PFD_SOFTKEYS_12)"
B3 = unassigned


# Greg's MFD UUID. Find yours using the Setup app
[88:6b:0f:a4:dd:d5]

9C = "(>H:AS1000_MFD_SOFTKEYS_1)"
9D = unassigned
9E = "(>H:AS1000_MFD_SOFTKEYS_2)"
9F = unassigned
A0 = "(>H:AS1000_MFD_SOFTKEYS_3)"
A1 = unassigned
A2 = "(>H:AS1000_MFD_SOFTKEYS_4)"
A3 = unassigned
A4 = "(>H:AS1000_MFD_SOFTKEYS_5)"
A5 = unassigned
A6 = "(>H:AS1000_MFD_SOFTKEYS_6)"
A7 = unassigned
A8 = "(>H:AS1000_MFD_SOFTKEYS_7)"
A9 = unassigned
AA = "(>H:AS1000_MFD_SOFTKEYS_8)"
AB = unassigned
AC = "(>H:AS1000_MFD_SOFTKEYS_9)"
AD = unassigned
AE = "(>H:AS1000_MFD_SOFTKEYS_10)"
AF = unassigned
B0 = "(>H:AS1000_MFD_SOFTKEYS_11)"
B1 = unassigned
B2 = "(>H:AS1000_MFD_SOFTKEYS_12)"
B3 = unassigned